/* https://docs.asciidoctor.org/asciidoctor/latest/html-backend/default-stylesheet/#customize-docinfo */
/* https://docs.asciidoctor.org/asciidoctor/latest/html-backend/default-stylesheet/#customize-extend */
/* https://fonts.google.com/icons?selected=Material+Symbols+Outlined:location_on:FILL@0;wght@400;GRAD@0;opsz@24&icon.query=location */

@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";
@import "https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css";


/* The PDF export done with playwright uses the media print class                   */
/* https://playwright.dev/docs/api/class-page#page-pdf                              */
/* The links in the resulting PDF are black                                         */
/* To debug this I had to use the debug mode shown in:                              */
/* https://devtoolstips.org/tips/en/debug-print-css-styles/                         */
/* I found that the asciidoc css seems to set the color and text-decoration to none */
/* I fix the values manually here                                                   */
@media print{
    a{  
        color:#2156a5 !important;
        text-decoration: underline !important;
    }
    
}

/* https://stackoverflow.com/questions/10829675/how-to-put-an-image-in-div-with-css */
/* div.toc2:before {
    content:url(https://seminaires-c2s.telecom-paristech.fr/logos_tp_ipp/logo_telecom_ipparis_rvb_noir_h.png);
    width: 100px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
 } */

 /* https://stackoverflow.com/questions/8977957/can-i-change-the-height-of-an-image-in-css-before-after-pseudo-elements */
 /* https://stackoverflow.com/a/8993934 */
 div.toc2:before {
    background-image: url('https://seminaires-c2s.telecom-paristech.fr/logos_tp_ipp/logo_telecom_ipparis_rvb_noir_h.png');
    background-size: 200px;
    display: block;
    width: 200px;
    height: 93px;
    content: "";
    background-repeat: no-repeat;
 }

 /* An alternative to this approach to add the picture on top of the side nav bar is to use a docinfo file */
 /* This is documented here:  */
 /* https://gitlab.com/drdpham/simple-project-presentation/-/commit/cc4089886951477d59dd3b1e1e834c101da47e05 */

 table.mastinfo td{
    padding: unset;
 }

 /* Disable byline information */
 /* https://github.com/asciidoctor/asciidoctor-epub3/issues/86 */
 /* https://docs.asciidoctor.org/asciidoc/latest/document/author-line/#assign-an-author-and-email */
 #header .details span:first-child {
    display: none;
 }